@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    box-sizing: border-box;
    align-items: center;
}

.header div {
    display: flex;
    gap: 9px;
}

.mark-read {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #5E6778;
}

.header h1 {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #1C202B;
}

.not-amount {
    width: 32px;
    height: 25px;
    border-radius: 6px;
    background-color: #0A327B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: white;
    font-size: 16px;
    line-height: 20px;
}

.container {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    width: 39px;
    height: 39px;
}

.notification {
    display: flex;
    gap: 13px;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
}

.name {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    color: #1C202B;
    width: 100%;

}

span{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #5E6778;
}

a {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #5E6778;
    text-decoration: none;
}

.chess {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #0A327B;
}

.time {
    font-size: 14px;
    line-height: 18px;
    color: #939CAD;
    margin-top: 3px;
}

.message {
    font-size: 14px;
    line-height: 18px;
    color: #5E6778;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #DDE7EE;
    margin-top: 12px;
    border-radius: 5px;
}

.unread{
    background-color: #F7FAFD;
}

.unread .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F65552;
}

.content{
    display: flex;
    align-items: center;
    gap: 6px;
}

.chess-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

@media (min-width: 1024px){
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F9FAFD;
    }

    main{
        width: 730px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 20px 60px rgba(73, 97, 168, 0.05);
    }
    
    .header{
        padding: 32px;
    }

    .container{
        padding: 0 16px;
    }

    .notification {
        gap: 19px;
        padding: 16px;
        box-sizing: border-box;
    }

    .header h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .mark-read {
        font-size: 16px;
        line-height: 20px;
    }

    .message{
        max-width: 566px;
        padding: 17px 20px 20px 20px;
        box-sizing: border-box;
        text-align: justify;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
    }

    .message:hover{
        background-color: #E5EFFA;
    }

    .mark-read:hover{
        cursor: pointer;
        color: #0A327B;
    }

    a:hover{
        color: #0A327B;
        cursor: pointer;

    }

    .chess-container img:hover{
        cursor: pointer;
    }

    .name:hover{
        color:#0A327B;
        cursor: pointer;
    }

}