@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    box-sizing: border-box;
    align-items: center;
}

.header div {
    display: flex;
    gap: 9px;
}

.mark-read {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #5E6778;
}

.header h1 {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #1C202B;
}

.not-amount {
    width: 32px;
    height: 25px;
    border-radius: 6px;
    background-color: #0A327B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: white;
    font-size: 16px;
    line-height: 20px;
}

.container {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    width: 39px;
    height: 39px;
}

.notification {
    display: flex;
    gap: 13px;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
}

.name {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    color: #1C202B;
    width: 100%;

}

span{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #5E6778;
}

a {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #5E6778;
    text-decoration: none;
}

.chess {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #0A327B;
}

.time {
    font-size: 14px;
    line-height: 18px;
    color: #939CAD;
    margin-top: 3px;
}

.message {
    font-size: 14px;
    line-height: 18px;
    color: #5E6778;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #DDE7EE;
    margin-top: 12px;
}

.unread{
    background-color: #F7FAFD;
}

.unread .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F65552;
}

.content{
    display: flex;
    align-items: end;
    gap: 6px;
}